extends ../layouts/base

block head
  style.
    .header {
      margin-bottom: 20px;
    }

    label {
      display: block;
    }

    label > a {
      font-weight: normal;
    }

block body
  header.container
    .header
      h3= product
  main.container
    form(action='/login', method='post', role='form')
      .form-group
        label(for='email') Email
        input.form-control(type='email', name='email', placeholder='you@gmail.com', tabindex='1', autofocus, required)
      .form-group
        label(for='password') Password
          a.pull-right(href='/reset') Forgot your password?
        input.form-control(type='password', name='password', tabindex='2', required)
      .form-group
        p.help-block Don't yet belong to a league? #{''}
          a(href='/register') Create one now
          |!
      button.btn.btn-primary(type='submit', tabindex='3') Sign in
